.PasswordMeter {
  width: var(--card-width);
  height: var(--card-height);
  padding: var(--card-padding);
  background: rgb(249, 253, 255);
  box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 500px) {
  .PasswordMeter {
    width: 90vw;
  }
}

.PasswordMeter__title {
  color: var(--color-grey);
  font-size: 14px;
  padding-bottom: 8px;
}

.PasswordMeter__progressBar {
  position: relative;
  right: -10px;
  width: 100%;
}

.PasswordMeter__input {
  display: flex;
  align-items: center;
  padding: 0 15px;
  width: calc( 100% - 50px);
  height: 40px;
}

.PasswordMeter__copy {
  height: 40px;
}

.PasswordMeter__progressBarContainer {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
  align-items: flex-end;
}

.PasswordMeter__description {
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.ant-input-suffix {
  margin-bottom: -5px;
}

.error {
  color: var(--color-error);
}

.warning {
  color: var(--color-warning);
}

.success {
  color: var(--color-success);
}

.success--border {
  border-color: var(--color-success);
}